h1 {
  color: Black;
  font-size: bold;
}

.title {
  text-align: center;
  color: Black;
}
.main {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

li {
  color: white;
}
