h1 {
  color: rgb(161, 22, 22);
  font-size: bold;
}

.main {
  background-color: black;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

li {
  color: white;
}
