h3 {
  color: rgb(161, 22, 22);
  font-size: bold;
}

.main {
  background-color: gray;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

li,
ul {
  color: rgb(8, 8, 8);
}
