.layout-header {
  background-color: black;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

h1 {
  color: red;
}

.NewButton {
  color: blue;
}
