.layout-header {
  background-color: green;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-decoration: none;
  padding: 10px;
  grid-gap: 10px;
  padding: 10px;
}

.header-nav {
  text-align: right;
}

h1 {
  color: red;
}

.NewButton {
  color: blue;
}

.buscador {
  margin-right: 100px;
  color: white;
  margin-left: 100px;
}
